html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  touch-action: none;
}

button {
  min-width: 15vw;
  padding: 5vw;
  -webkit-appearance: none;
  border-radius: 10px;
  background: rgba(51, 51, 51, 0.5);
  text-align: center;
  vertical-align: middle;
}

._box-shadow {
  box-shadow: 0 0 0 1px #333;
}

._box-shadow-left {
  box-shadow: inset -1px 0 0 0px #333;
}

._box-shadow-right {
  box-shadow: inset -1px 0 0 0 #333;
}

._box-shadow-top {
  box-shadow: 0 -1px 0 0px #333;
}

._box-shadow-bottom {
  box-shadow: 0 1px 0 0 #333;
}

._title {
  text-transform: uppercase;
  font-size: 5vh;
  text-align: center;

  margin: 0;
  padding: 4vh 2vh 2vh;

  flex-shrink: 0;
}

.content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.user-inputs {
  width: 60vw;
  height: 100%;
}

.user-inputs-list {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100% - 100px);
  height: calc(100% - 50px);
  overflow-y: auto;
  justify-content:  flex-start;
  align-items: flex-start;
}

.user-inputs-list__item {
  margin: 20px;
}
.new-game {
  font-size: 5vh;
  padding:  1vh;
}

.player-items {
  display: flex;
  flex-direction: column;
  width: 40%;
  
  text-align: center;
}

  .player-items__stats {
    overflow: auto;
  }

  .player-items__bonuses {
    font-size: 5vh;
    padding: 1vh;
    margin-top: auto;
  }

  .player-items__footer {
    display: flex;
    font-size: 5vh;
    padding-top: 1vh;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1vh;
  }

.stats-table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  height: 100%;
  border-bottom: 1px solid transparent;
}

  .stats-table__head {
    font-weight: normal;
    font-size: 5vh;
  }
  
.stats-table__items,
.user-inputs-list__item {
  font-size: 8vh;
}

@media screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vw!important;
  }

  ._title {
    font-size: 5vw;
    padding: 4vw 2vw 2vw;
  }

  .user-inputs {
    width: 60vh;
  }

  button {
    min-width: 15vh;
    padding: 5vh;
  }

  .stats-table__items {
    font-size: 8vw;
  }
  .stats-table__head {
    font-size: 5vw;
  }
  
  .new-game {
    padding: 1vw;
    font-size: 5vw;
  }
  .player-items__bonuses {
    padding: 1vw;
    font-size: 5vw;
  }
  
  .player-items__footer {
    font-size: 5vw;
    padding-bottom: 5vw;
  }
}